
.height {
  height: 100vh;
}
.aboutMe, .resumeInfo, .portfolio-info, .project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
}

.aboutMe img, .project-info img {
  height: 400px;
  width: 650px;
  border-radius: 5px;
  margin: 20px;

}
.skillsIcons {
  align-items: center;
  width:100%;
  padding: 35px;
}

.contact-input {
padding: 10px;
margin: 10px;

}

#contact-message {
  height: 150px;
}

.footer-icons img {
width: 50px;
height: 50px;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.project-info a {
  background-color: purple;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
}

.project-info h2 {
font-weight: bolder;
font-size: 25px;
padding: 10px;
}

.resumeInfo a {
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 3px;
  margin: 25px;
}

.resumeInfo h2 {
  font-weight: bolder;
  font-size: 25px;
  padding: 10px;
  }